---
layout: default
---

<ul class="breadcrumb">
    <li class="active">You are here: &nbsp;</li>
    <li><a href="{{ site.baseurl }}/" class="pathway">Home</a><span class="chevron">&rsaquo;</span></li>
    {% if page.back_title %}
    <li><a href="{{ site.baseurl }}{{page.back_url}}" class="pathway">{{page.back_title}}</a><span
            class="chevron">&rsaquo;</span></li>
    {% endif %}
    <li class="active"><span>{{ page.title }}</span></li>
</ul>

<article>

    <img src="{{ site.baseurl }}/images/speakers/meetup-25-26.webp" alt="BioVis Meetup Speakers" style="width: 100%" />

    <div id="join" style="padding-top: 1em">
        <div
            style="display: flex; flex-direction: row; align-items: center; gap: 2em; padding: 1em; font-size: 110%; border-radius: 22px; background: white; box-shadow: 0 1px 5px rgba(0,0,0,0.1);">
            <img src="{{ site.baseurl }}/images/logos/zoom.svg" alt="Zoom Logo" style="display: block; height: 1em;" />
            <div><strong>Join</strong> the meeting using Zoom:
                <a href="https://tu-dresden.zoom-x.de/j/67863904836?pwd=mVqoyB6DlxAbFAtN7kx0Ka62KHFmUJ.1">link</a>
            </div>
            <div>Meeting ID: 678 6390 4836</div>
            <div>Passcode: BioV!s2025</div>
        </div>
    </div>

    <h2>{{ page.title}}</h2>

    {{ content }}

    <h2>Future and past events</h2>

    <ul>
        {% for post in site.posts %}
        {% capture category %}{{post.event}}{% endcapture %}
        {% if category == "meetup" %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span style="margin-left: 0.5em">{{ post.meetup_date | date: "%b %-d, %Y" }}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</article>